node_modules
.next
.turbo
.vercel
dist
build
coverage
.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-error.log*
.env
.env.*
/apps/*/.env
/apps/*/.env.*
/apps/*/node_modules
/apps/*/.next
/apps/*/.turbo
